body{
    display: flex;
    flex-direction: row;

    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

.top_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    background-color: rgb(182 203 158);
}

.top_bar_text{
    font-family: 'Oswald', sans-serif;
}

.top_bar_text:hover{
    font-weight: bold;
    cursor: pointer;
}

/*
.modal{
    box-shadow:  3px 3px 2px 2px rgba(0,0,0,0.5);
    border-radius: 5%;
    margin:1em;
    padding:1em;
}*/

/*---- BUDGET PAGE ----*/
#budget_page{
    display: flex;
    flex-direction: column;
    padding: 2em;
    width:100%;
}

/*---- TOP PART ----*/
#top-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*---- OVERVIEW ----*/
#overview{
    display: flex;
    flex-direction: column;
    margin-left:1em;
}

#overview-text{
    text-decoration: underline;
}

#saving_salary{
    display: flex;
    flex-direction: row;
}

#salary-saving-texts{
    margin-right:2em;
}

.overview_salary_save{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overview_salary_save input{
    height:1.5em;
    width:50%;
    border: none;
}

.small{
    font-size: 0.8em;
}

.medium{
    font-size: 1em;
    margin:0;
}

.xlarge{
    font-size: 2em;
    margin:0;
}

.grey-text{
    color: rgb(112 112 112)
}

/*---- UPDATE ----*/
#update{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

#update-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width:100%;
}

#update-date{
    display: flex;
    justify-content: left;
}

/*---- BUDGET MODAL SECTION ----*/
.modal{
    background-color: rgb(248 248 248);
    border-radius: 5%;
    padding:1em;
    margin:1em;
    width:100%;
}

#budget-modal-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.budget_modal{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding:1em;
    width:100%;
    margin:1em;
}

.budget_modal p{
    margin:0.4em;
}

/*---- SPENDING INCOME----*/
.spending-income-bill-modal{
    display: flex;
    flex-direction: row;
    width:100%;
}

#spending-income-bills-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spending-cat-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.spending-cat-item img{
    margin-right: 1em;
}

.spending-saving-icon{
    width:1.5em;
    height:1.5em;
}

#spending-income-bills-section{
    display: flex;
    flex-direction: row;
}

.graph-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---- BILLS----*/
#bill-check{
    display: flex;
    flex-direction: row;
}

.bill-icon{
    height:5em;
    width:5em;
    margin-right:1em;
}

.bill-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bill-item-text{
    display: flex;
    flex-direction: column;
}

/*---- LOADERS ----*/
.icon{
    width:1em;
    height:1em;
}

.update_monthly_loader {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.update_monthly_loader:after {
  content: " ";
  display: block;
  width: 1em;
  height: 1em;
  margin: 8px;
  border-radius: 50%;
  border: 0.2em solid rgb(182 203 158);
  border-color: rgb(182 203 158) transparent rgb(182 203 158) transparent;
  animation: update_monthly_loader 1.2s linear infinite;
}

@keyframes update_monthly_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
