{% extends "main_page/index.html" %}

{% block main_content %}
<div id="budget_page">
    <div id="salary_savings">
        <div class="salary_savings_modal">
            <p>Salary</p>
            <input type="text" id="budget_salary" value={{salary}}>
        </div>
        <div class="salary_savings_modal">
            <p id="savings_text">Savings</p>
            <input type="text" id="budget_savings" value={{savings}}>
        </div>
        <div class="salary_savings_modal">
            <button onclick="update_budget_history()">Update History</button>
            <button onclick="update_monthly_budget()">Update Month</button>
        </div>
    </div>
    <div id="budget_table_row" total_spending = "{{total_spending}}">
        {% for obj in budget %}
            <div id="week_modal_{{obj.week}}" class="budget_week_modal" remaining_days="{{obj.remaining_days}}">
                <p class="week_number">Week {{obj.week}}</p>
                <p class="date_range">{{obj.dates}}</p>
                <hr>
                <p id="week_amount_{{obj.week}}" class="week_amount">€{{obj.amount}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}