<html>
    {% csrf_token %}
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main_page/main.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'main_page/requests.js' %}"></script>
        <script src="{% static 'main_page/budget_jquery.js' %}"></script>
        <script src="{% static 'main_page/monthly_recap_jquery.js' %}"></script>
        <script src="{% static 'main_page/graph.js' %}"></script>
        <script src="{% static 'main_page/loader_handler.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        {% include 'main_page/top_bar.html' %}
        <div id="main-content">
            {% block main_content %}
            {% endblock %}
        </div>
        
    </body>
</html>