{% extends "main_page/index.html" %}

{% block main_content %}

<div id="monthly_recap_div">
    <div id="monthly_recap_navbar">
        <a class="monthly-recap-navbar-item" id="navbar_amounts" data-checked="true" linked-page="monthly_recap_amounts">Amounts</p>
        <a class="monthly-recap-navbar-item" id="navbar_graphs" data-checked="false" linked-page="monthly_recap_graph">Graphs</p>
    </div>

    <div id="monthly_recap_amounts" class="monthly_recap_page" style="display:flex">
        {% include "main_page/monthly_recap_amounts.html" %}
    </div>

    <div id="monthly_recap_graph" class="monthly_recap_page" style="display:none">
        {% include "main_page/monthly_recap_graphs.html" %}
    </div>
</div>
{% endblock %}